{% load i18n %}

{% load navigation_tags %}
{% load smart_settings_tags %}

{% spaceless %}
    <link href="https://fonts.googleapis.com/css?family={{ fontLink }}" rel="stylesheet">
    <style>

        body {
			font-family: "{{ fontRaw }}", sans-serif;
		}

        .navbar-brand{
            font-family: "{{ fontRaw }}", sans-serif;
        }

        h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
            font-family: "{{ fontRaw }}", sans-serif;
        }

        #headerTopMenu {
            background-color:{{ headerColor }};
        }

        #accordion-sidebar .panel-heading {
            background-color:{{ menuColor }};
        }

        #menu-main {
            background-color:{{ menuColor }};
        }

        .navbar-default .navbar-nav>li>a {
            color: {{fontColor}};
        }

        .panel-primary>.panel-heading {
            background-color:{{ panelHeader }};
        }

        @media (min-width: 768px) {
            .navbar-brand {
                text-align: left;
                width: 1000px;
            }
        }
    </style>
    <nav id="headerTopMenu" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" type="button">
                    <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url home_view %}" style="color:{{fontColor}};"><div class="row"> {% if haveLogoimg == True %} <img src="{{logoimg}}" style="margin-left:50px;margin-top: -8px;margin-right: 10px;" width="40" height="40" alt=""> {% endif %} {{logoText}}</div></a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% navigation_resolve_menu name='topbar' as topbar_menus_results %}
                    {% for tobpar_menu_result in topbar_menus_results %}
                        {% for link_group in tobpar_menu_result.link_groups %}
                            {% for link in link_group.links %}
                                {% with 'true' as as_li %}
                                {% with 'true' as hide_active_anchor %}
                                {% with 'active' as li_class_active %}
                                {% with 'first' as li_class_first %}
                                {% with ' ' as link_classes %}
                                    {% include 'navigation/generic_subnavigation.html' %}
                                {% endwith %}
                                {% endwith %}
                                {% endwith %}
                                {% endwith %}
                                {% endwith %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
{% endspaceless %}
